Exercico 1. Criar lista nomes de alunos, inseridos pelo usuario ate sair didgitando -1.

In [18]:
print("Lista Alunos:")
listaAlunos = []
i = 0
while i != "-1":
  i = input("Informe Nome do Aluno:")
  if i == "-1":
    break
  listaAlunos.append(i)
print("Alunos: ",listaAlunos)

Lista Alunos:
Informe Nome do Aluno:JOEL
Informe Nome do Aluno:PAULO
Informe Nome do Aluno:PEDRO
Informe Nome do Aluno:JOAO
Informe Nome do Aluno:MARIO
Informe Nome do Aluno:JULIO
Informe Nome do Aluno:JUNIOR
Informe Nome do Aluno:MARI
Informe Nome do Aluno:MARIA
Informe Nome do Aluno:LIGIA
Informe Nome do Aluno:LUD
Informe Nome do Aluno:FAEL
Informe Nome do Aluno:CAIO
Informe Nome do Aluno:DANI
Informe Nome do Aluno:SHALIN
Informe Nome do Aluno:-1
Alunos:  ['JOEL', 'PAULO', 'PEDRO', 'JOAO', 'MARIO', 'JULIO', 'JUNIOR', 'MARI', 'MARIA', 'LIGIA', 'LUD', 'FAEL', 'CAIO', 'DANI', 'SHALIN']

Exercicio 2.

In [19]:
listaAlunos.pop(0)
listaAlunos.pop(3)
listaAlunos.pop(7)
listaAlunos.pop(8)
print("Alunos: ",listaAlunos)

Alunos:  ['PAULO', 'PEDRO', 'JOAO', 'JULIO', 'JUNIOR', 'MARI', 'MARIA', 'LUD', 'CAIO', 'DANI', 'SHALIN']

Exercicio 3.

In [20]:
x = listaAlunos.index('SHALIN')
print(x)

10

Exercicio 4.

In [21]:
listaAlunos.sort()
print(listaAlunos)

['CAIO', 'DANI', 'JOAO', 'JULIO', 'JUNIOR', 'LUD', 'MARI', 'MARIA', 'PAULO', 'PEDRO', 'SHALIN']

Exercicio 5.

In [22]:
notas = ()
listaNotas = []
i = 0
while i != "-1":
  i = input("Informe Nota do Aluno:")
  if i == "-1":
    break
  listaNotas.append(i)

notas = tuple(listaNotas)
print("Notas  dos Alunos: ",notas)

Informe Nota do Aluno:5.4
Informe Nota do Aluno:6
Informe Nota do Aluno:7.5
Informe Nota do Aluno:6.5
Informe Nota do Aluno:6
Informe Nota do Aluno:4.6
Informe Nota do Aluno:3.5
Informe Nota do Aluno:5
Informe Nota do Aluno:8
Informe Nota do Aluno:7.7
Informe Nota do Aluno:9
Informe Nota do Aluno:-1
Notas  dos Alunos:  ('5.4', '6', '7.5', '6.5', '6', '4.6', '3.5', '5', '8', '7.7', '9')

Exercicio 6.

In [23]:
boletin = dict(zip(listaAlunos,notas))
print("Boletin: ",boletin)

Boletin:  {'CAIO': '5.4', 'DANI': '6', 'JOAO': '7.5', 'JULIO': '6.5', 'JUNIOR': '6', 'LUD': '4.6', 'MARI': '3.5', 'MARIA': '5', 'PAULO': '8', 'PEDRO': '7.7', 'SHALIN': '9'}

Exercicio 7.

In [97]:
for j,x in boletin.items():
  if x >= "7":
    print(f'Aluno:{j}\nNota:{x} - Aprovado\n')
  else:
     print(f'Aluno:{j}\nNota:{x} - Reprovado\n')

Aluno:CAIO
Nota:5.4 - Reprovado

Aluno:DANI
Nota:6 - Reprovado

Aluno:JOAO
Nota:7.5 - Aprovado

Aluno:JULIO
Nota:6.5 - Reprovado

Aluno:JUNIOR
Nota:6 - Reprovado

Aluno:LUD
Nota:4.6 - Reprovado

Aluno:MARI
Nota:3.5 - Reprovado

Aluno:MARIA
Nota:5 - Reprovado

Aluno:PAULO
Nota:8 - Aprovado

Aluno:PEDRO
Nota:7.7 - Aprovado

Aluno:SHALIN
Nota:9 - Aprovado