In [1]:
import pandas as pd
import numpy as np

In [2]:
loto = pd.read_excel('/content/Lotofácil.xlsx')

In [3]:
loto

,Concurso,Data Sorteio,Bola1,Bola2,Bola3,Bola4,Bola5,Bola6,Bola7,Bola8,...,Rateio 13 acertos,Ganhadores 12 acertos,Rateio 12 acertos,Ganhadores 11 acertos,Rateio 11 acertos,Acumulado 15 acertos,Arrecadacao Total,Estimativa Prêmio,Acumulado sorteio especial Lotofácil da Independência,Observação
0,1,29/09/2003,2,3,5,6,9,10,11,13,...,"R$10,00",48807,"R$4,00",257593,"R$2,00","R$0,00","R$0,00","R$0,00","R$0,00",Estimativa de prêmio (15 ACERTOS) próximo conc...
1,2,06/10/2003,1,4,5,6,7,9,11,12,...,"R$10,00",81252,"R$4,00",478188,"R$2,00","R$0,00","R$0,00","R$0,00","R$0,00",ESTIMATIVA DE PRÊMIO PARA O PRÓXIMO CONCURSO (...
2,3,13/10/2003,1,4,6,7,8,9,10,11,...,"R$10,00",96244,"R$4,00",608211,"R$2,00","R$0,00","R$0,00","R$0,00","R$0,00",Estimativa de prêmio (15 ACERTOS) próximo conc...
3,4,20/10/2003,1,2,4,5,8,10,12,13,...,"R$10,00",123912,"R$4,00",706657,"R$2,00","R$0,00","R$0,00","R$0,00","R$0,00",Estimativa de prêmio (15 ACERTOS) próximo conc...
4,5,27/10/2003,1,2,4,8,9,11,12,13,...,"R$10,00",195636,"R$4,00",860992,"R$2,00","R$0,00","R$0,00","R$0,00","R$0,00",Estimativa de prêmio para o próximo concurso (...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2930,2936,23/10/2023,1,4,8,9,10,11,12,13,...,"R$30,00",99583,"R$12,00",500260,"R$6,00","R$0,00","R$17.891.493,00","R$1.700.000,00","R$16.119.011,23",NaN
2931,2939,26/10/2023,2,3,5,6,7,9,10,11,...,"R$30,00",109808,"R$12,00",550891,"R$6,00","R$2.084.587,94","R$17.047.989,00","R$5.000.000,00","R$17.000.954,96",NaN
2932,2940,27/10/2023,1,2,5,7,8,9,11,12,...,"R$30,00",182361,"R$12,00",1035328,"R$6,00","R$0,00","R$34.343.916,00","R$1.700.000,00","R$17.636.677,22",NaN
2933,2942,30/10/2023,4,5,6,7,8,9,10,14,...,"R$30,00",132813,"R$12,00",793900,"R$6,00","R$0,00","R$29.345.181,00","R$1.700.000,00","R$18.622.896,02",NaN
2934,2943,31/10/2023,1,4,5,8,9,10,11,12,...,"R$30,00",83612,"R$12,00",490449,"R$6,00","R$1.591.791,81","R$17.988.999,00","R$4.000.000,00","R$19.008.006,96",NaN

In [4]:
loto.columns

Index(['Concurso', 'Data Sorteio', 'Bola1', 'Bola2', 'Bola3', 'Bola4', 'Bola5',
       'Bola6', 'Bola7', 'Bola8', 'Bola9', 'Bola10', 'Bola11', 'Bola12',
       'Bola13', 'Bola14', 'Bola15', 'Ganhadores 15 acertos', 'Cidade / UF',
       'Rateio 15 acertos', 'Ganhadores 14 acertos', 'Rateio 14 acertos',
       'Ganhadores 13 acertos', 'Rateio 13 acertos', 'Ganhadores 12 acertos',
       'Rateio 12 acertos', 'Ganhadores 11 acertos', 'Rateio 11 acertos',
       'Acumulado 15 acertos', 'Arrecadacao Total', 'Estimativa Prêmio',
       'Acumulado sorteio especial Lotofácil da Independência', 'Observação'],
      dtype='object')

In [5]:
bolas = loto[['Bola1', 'Bola2', 'Bola3', 'Bola4', 'Bola5',
       'Bola6', 'Bola7', 'Bola8', 'Bola9', 'Bola10', 'Bola11', 'Bola12',
       'Bola13', 'Bola14', 'Bola15']]

In [6]:
bolas

,Bola1,Bola2,Bola3,Bola4,Bola5,Bola6,Bola7,Bola8,Bola9,Bola10,Bola11,Bola12,Bola13,Bola14,Bola15
0,2,3,5,6,9,10,11,13,14,16,18,20,23,24,25
1,1,4,5,6,7,9,11,12,13,15,16,19,20,23,24
2,1,4,6,7,8,9,10,11,12,14,16,17,20,23,24
3,1,2,4,5,8,10,12,13,16,17,18,19,23,24,25
4,1,2,4,8,9,11,12,13,15,16,19,20,23,24,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2930,1,4,8,9,10,11,12,13,16,18,19,20,21,23,24
2931,2,3,5,6,7,9,10,11,12,13,17,18,20,22,23
2932,1,2,5,7,8,9,11,12,13,14,15,20,21,24,25
2933,4,5,6,7,8,9,10,14,16,17,18,19,20,23,25
2934,1,4,5,8,9,10,11,12,15,16,17,18,19,20,25

In [7]:
matriz = bolas.values

In [10]:
matriz

array([[ 2,  3,  5, ..., 23, 24, 25],
       [ 1,  4,  5, ..., 20, 23, 24],
       [ 1,  4,  6, ..., 20, 23, 24],
       ...,
       [ 1,  2,  5, ..., 21, 24, 25],
       [ 4,  5,  6, ..., 20, 23, 25],
       [ 1,  4,  5, ..., 19, 20, 25]])

In [8]:
# Obtém os valores únicos e suas contagens
valores_unicos, contagem = np.unique(matriz, return_counts=True)

# Cria um DataFrame para armazenar os valores únicos e suas contagens
dados_contagem = pd.DataFrame({'Valor': valores_unicos, 'Contagem': contagem})

# Ordena o DataFrame pela coluna 'Contagem' em ordem decrescente
dados_contagem = dados_contagem.sort_values(by='Contagem', ascending=False)

# Obtém os valores mais repetidos
valores_mais_repetidos = dados_contagem[dados_contagem['Contagem'] == dados_contagem['Contagem'].max()]

print("Valores mais repetidos:")
print(valores_mais_repetidos)

#O código acima cria um DataFrame chamado dados_contagem que armazena os valores únicos e suas contagens.
#Em seguida, ele classifica o DataFrame com base na coluna de contagem em ordem decrescente.
#Por fim, ele obtém os valores mais repetidos, que são aqueles com a contagem máxima.
#Os valores mais repetidos serão armazenados no DataFrame valores_mais_repetidos,
#que pode ser impresso ou usado conforme necessário.

Valores mais repetidos:
    Valor  Contagem
19     20      1841

In [30]:
# Obtém os valores únicos e suas contagens
valores_unicos, contagem = np.unique(matriz, return_counts=True)

# Verifica quais valores têm contagens maiores que 1 (são repetidos)
valores_repetidos = valores_unicos[contagem > 1755]

print("Valores repetidos:")
print(valores_repetidos)

Valores repetidos:
[ 1  3  4  5  9 10 11 12 13 14 20 22 24 25]