Relatorio Mega Sena

In [1]:
import pandas as pd
import numpy as np

In [2]:
mega = pd.read_excel('/content/Mega-Sena.xlsx')

In [3]:
mega

,Concurso,Data do Sorteio,Bola1,Bola2,Bola3,Bola4,Bola5,Bola6,Ganhadores 6 acertos,Cidade / UF,Rateio 6 acertos,Ganhadores 5 acertos,Rateio 5 acertos,Ganhadores 4 acertos,Rateio 4 acertos,Acumulado 6 acertos,Arrecadação Total,Estimativa prêmio,Acumulado Sorteio Especial Mega da Virada,Observação
0,1,11/03/1996,4,5,30,33,41,52,0,NaN,"R$0,00",17,"R$39.158,92",2016,"R$330,21","R$1.714.650,23","R$0,00","R$0,00","R$0,00",NaN
1,2,18/03/1996,9,37,39,41,43,49,1,PR,"R$2.307.162,23",65,"R$14.424,02",4488,"R$208,91","R$0,00","R$0,00","R$0,00","R$0,00",NaN
2,3,25/03/1996,10,11,29,30,36,47,2,RN; \nSP,"R$391.192,51",62,"R$10.515,93",4261,"R$153,01","R$0,00","R$0,00","R$0,00","R$0,00",NaN
3,4,01/04/1996,1,5,6,27,42,59,0,NaN,"R$0,00",39,"R$15.322,24",3311,"R$180,48","R$717.080,75","R$0,00","R$0,00","R$0,00",NaN
4,5,08/04/1996,1,2,6,16,19,46,0,NaN,"R$0,00",98,"R$5.318,10",5399,"R$96,53","R$1.342.488,85","R$0,00","R$0,00","R$0,00",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2643,2645,17/10/2023,8,22,34,42,51,59,0,NaN,"R$0,00",55,"R$48.487,58",3566,"R$1.068,35","R$32.258.984,41","R$46.254.340,00","R$40.000.000,00","R$89.618.714,54",NaN
2644,2646,19/10/2023,18,28,30,39,41,58,0,NaN,"R$0,00",30,"R$100.459,57",2705,"R$1.591,64","R$37.810.697,36","R$52.272.325,00","R$45.000.000,00","R$90.411.816,41",NaN
2645,2648,24/10/2023,20,44,45,46,56,59,0,NaN,"R$0,00",38,"R$90.552,96",2775,"R$1.771,43","R$51.268.509,88","R$59.682.290,00","R$60.000.000,00","R$92.334.361,10",NaN
2646,2650,28/10/2023,9,18,29,37,39,58,0,NaN,"R$0,00",136,"R$44.304,85",7564,"R$1.137,99","R$89.438.435,62","R$104.507.955,00","R$105.000.000,00","R$94.975.592,19",NaN
2647,2651,01/11/2023,6,23,35,36,37,59,1,GOIANIA/GO,"R$104.876.676,04",190,"R$44.109,26",12147,"R$985,63","R$0,00","R$145.359.230,00","R$3.500.000,00","R$97.181.055,12",NaN

In [4]:
mega.columns

Index(['Concurso', 'Data do Sorteio', 'Bola1', 'Bola2', 'Bola3', 'Bola4',
       'Bola5', 'Bola6', 'Ganhadores 6 acertos', 'Cidade / UF',
       'Rateio 6 acertos', 'Ganhadores 5 acertos', 'Rateio 5 acertos',
       'Ganhadores 4 acertos', 'Rateio 4 acertos', 'Acumulado 6 acertos',
       'Arrecadação Total', 'Estimativa prêmio',
       'Acumulado Sorteio Especial Mega da Virada', 'Observação'],
      dtype='object')

In [5]:
mega.dtypes

Concurso                                      int64
Data do Sorteio                              object
Bola1                                         int64
Bola2                                         int64
Bola3                                         int64
Bola4                                         int64
Bola5                                         int64
Bola6                                         int64
Ganhadores 6 acertos                          int64
Cidade / UF                                  object
Rateio 6 acertos                             object
Ganhadores 5 acertos                          int64
Rateio 5 acertos                             object
Ganhadores 4 acertos                          int64
Rateio 4 acertos                             object
Acumulado 6 acertos                          object
Arrecadação Total                            object
Estimativa prêmio                            object
Acumulado Sorteio Especial Mega da Virada    object
Observação                                   object
dtype: object

In [6]:
bolas = mega[['Bola1','Bola2','Bola3','Bola4','Bola5','Bola6']]

In [7]:
bolas

      Bola1  Bola2  Bola3  Bola4  Bola5  Bola6
0         4      5     30     33     41     52
1         9     37     39     41     43     49
2        10     11     29     30     36     47
3         1      5      6     27     42     59
4         1      2      6     16     19     46
...     ...    ...    ...    ...    ...    ...
2643      8     22     34     42     51     59
2644     18     28     30     39     41     58
2645     20     44     45     46     56     59
2646      9     18     29     37     39     58
2647      6     23     35     36     37     59

[2648 rows x 6 columns]

In [35]:
matriz = bolas.values

In [36]:
matriz

array([[ 4,  5, 30, 33, 41, 52],
       [ 9, 37, 39, 41, 43, 49],
       [10, 11, 29, 30, 36, 47],
       ...,
       [20, 44, 45, 46, 56, 59],
       [ 9, 18, 29, 37, 39, 58],
       [ 6, 23, 35, 36, 37, 59]])

In [12]:
duplicador = bolas[bolas.duplicated(subset=['Bola1','Bola2','Bola3','Bola4','Bola5','Bola6'])]

In [21]:
contador = bolas.value_counts()

In [25]:
duplicador

Empty DataFrame
Columns: [Bola1, Bola2, Bola3, Bola4, Bola5, Bola6]
Index: []

In [20]:
contador

Bola1  Bola2  Bola3  Bola4  Bola5  Bola6
1      2      3      11     28     43       1
10     14     16     30     32     36       1
              17     19     21     34       1
                     25     32     39       1
              22     41     42     53       1
                                           ..
4      19     27     35     40     44       1
                     38     54     57       1
              30     34     57     59       1
              38     44     52     55       1
50     51     56     57     58     59       1
Length: 2648, dtype: int64

In [37]:
# Obtém os valores únicos e suas contagens
valores_unicos, contagem = np.unique(matriz, return_counts=True)

# Cria um DataFrame para armazenar os valores únicos e suas contagens
dados_contagem = pd.DataFrame({'Valor': valores_unicos, 'Contagem': contagem})

# Ordena o DataFrame pela coluna 'Contagem' em ordem decrescente
dados_contagem = dados_contagem.sort_values(by='Contagem', ascending=False)

# Obtém os valores mais repetidos
valores_mais_repetidos = dados_contagem[dados_contagem['Contagem'] == dados_contagem['Contagem'].max()]

print("Valores mais repetidos:")
print(valores_mais_repetidos)

#O código acima cria um DataFrame chamado dados_contagem que armazena os valores únicos e suas contagens.
#Em seguida, ele classifica o DataFrame com base na coluna de contagem em ordem decrescente.
#Por fim, ele obtém os valores mais repetidos, que são aqueles com a contagem máxima.
#Os valores mais repetidos serão armazenados no DataFrame valores_mais_repetidos,
#que pode ser impresso ou usado conforme necessário.

Valores mais repetidos:
   Valor  Contagem
9     10       310

In [72]:
# Obtém os valores únicos e suas contagens
valores_unicos, contagem = np.unique(matriz, return_counts=True)

# Verifica quais valores têm contagens maiores que 1 (são repetidos)
valores_repetidos = valores_unicos[contagem > 283]

print("Valores repetidos:")
print(valores_repetidos)

Valores repetidos:
[ 5 10 23 34 37 53]